<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        tr:nth-child(even) {background-color: #f2f2f2;}
        th {background-color: #4CAF50; color: white; height: 50px;}
        table {width: 100%;}
    </style>

</head>
<body>
    <p><b>Количество строк: </b>{{len_data}}</p>
    <table>
    <tr>
        <th>Name</th>
        <th>Month</th>
        <th align="50">Year</th>
        <th>Count</th>
    </tr>
        {% for data in datas %}
    <tr>
        <td>{{data.name}}</td>
        <td>{{data.month}}</td>
        <td>{{data.year}}</td>
        <td>{{data.count}}</td>
    </tr>
        {% endfor %}
</table>
</body>
</html>